body {
    /* background-color: rgb(226, 190, 160); */
    background-color: rgb(253, 242, 228);
}
#drawings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.title {
    border-radius: 0%;
    padding: 15px;
}
.content {
    /* transition: 0.5s all ease-in-out; */
    padding: 15px;
    border-radius:11%;
}
.personas {
    /* transition: 0.5s all ease-in-out; */
    padding: 15px;
    border-radius:5%;
}

/* #drawings:hover img {
    transform: scale(1.1);
} */
